body {
	background-color: #202060;
	margin: 0px;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	color: #602080;
}
h2 {
	font-family: 'Comfortaa', cursive;
	color: #b030b0;

}
a {
	text-decoration: none; 
	font-family: 'Comfortaa', cursive;;
	color: black;
}
div {
	width: 50%;
	margin: auto;
	background-color: #202040;
	padding: 50px;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
#header {
	position: relative;
	background-color: #505bda;
	max-height: 30px;
}
#rightArrow {
	position: absolute;
	width: 50px;
	height: 40px;
	top: 20px;
	right: 20px;
}
#leftArrow {
	position: absolute;
	width: 50px;
	height: 40px;
	left: 20px;
	top: 20px;
}

























